In [22]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os

In [23]:
folder = r"C:\Users\user\OneDrive\Desktop\new ap mort\Qasaba SHP\Amman/"

In [24]:
shapes = []
for file in os.listdir(folder):
    if file.endswith(".shp"):
        shapes.append(gpd.read_file(os.path.join(folder, file)))

In [25]:
amm = pd.concat(shapes)

In [26]:
amm

,gid,admin_leve,boundary,name,z_order,way_area,Governate,income,is applica,geometry
0,-13376006.0,5,administrative,Al Jami'a,0.0,174086000.0,Amman,None,None,"POLYGON ((35.79664 32.03064, 35.79666 32.03102..."
0,-13376002.0,5,administrative,Marka,0.0,386367000.0,Amman,None,None,"POLYGON ((35.91602 31.99279, 35.91688 32.00094..."
0,-13376001.0,5,administrative,Qasabet Amman,0.0,62655600.0,Amman,None,yes,"POLYGON ((35.86950 31.94182, 35.86981 31.97409..."

In [27]:
amman = amm.dissolve(by='Governate')
amman = amman.to_crs('EPSG:4326')

In [28]:
amman['name'] = amman.index

In [29]:
amman.reset_index().to_file(r"C:\Users\user\OneDrive\Desktop\new ap mort\Qasaba SHP\Amman.shp")