In [1]:
import pandas as pd
import numpy as np

In [3]:
amm = pd.read_excel('Amman.xlsx')
irb = pd.read_excel('Irbid.xlsx')
zar = pd.read_excel('Zarqa.xlsx')

In [11]:
amm['Young'] = amm['Total >30'] - amm['>65']

In [13]:
amm.columns

Index(['Date', 'Total >30', 'Total_Male >30', 'Total_Female >30', '>65',
       '>65_Male', '>65_Female', 'Premature', 'Premature_Male',
       'Premature_Female', 'YLL', 'YLL_Male', 'YLL_Female', 'Total',
       'Total_Male', 'Total_Female', 'Holiday', 'PM10', 'NO2', 'SO2', 't2m',
       'sp', 'd2m', 'RH', 'Holiday.1', 'Young'],
      dtype='object')

In [14]:
cols = ['Total >30', 'Total_Male >30', 'Total_Female >30', '>65', 'Young']

In [19]:
des = amm[cols].describe().round(2).T

In [22]:
amm[cols].describe().T['mean']

Total >30           15.843373
Total_Male >30       9.063527
Total_Female >30     6.779847
>65                 10.679080
Young                5.164294
Name: mean, dtype: float64

In [31]:
des

                   count   mean   std  min   25%   50%   75%   max
Total >30         1826.0  15.84  4.61  4.0  13.0  15.0  19.0  34.0
Total_Male >30    1826.0   9.06  3.28  1.0   7.0   9.0  11.0  21.0
Total_Female >30  1826.0   6.78  2.76  0.0   5.0   7.0   8.0  18.0
>65               1826.0  10.68  3.65  1.0   8.0  10.0  13.0  26.0
Young             1826.0   5.16  2.40  0.0   3.0   5.0   7.0  15.0

In [40]:
(des['50%'].astype(str) + ' (' + des['25%'].astype(str) + '-' + des['75%'].astype(str) + ')').values

array(['15.0 (13.0-19.0)', '9.0 (7.0-11.0)', '7.0 (5.0-8.0)',
       '10.0 (8.0-13.0)', '5.0 (3.0-7.0)'], dtype=object)

In [46]:
amm.columns

Index(['Date', 'Total >30', 'Total_Male >30', 'Total_Female >30', '>65',
       '>65_Male', '>65_Female', 'Premature', 'Premature_Male',
       'Premature_Female', 'YLL', 'YLL_Male', 'YLL_Female', 'Total',
       'Total_Male', 'Total_Female', 'Holiday', 'PM10', 'NO2', 'SO2', 't2m',
       'sp', 'd2m', 'RH', 'Holiday.1', 'Young'],
      dtype='object')

In [55]:
cols = ['Total >30', 'Total_Male >30', 'Total_Female >30', '>65', 'Young']
des = amm[cols].describe().round(2).T
df1 = pd.DataFrame(index=['Total', 'Male', 'Female', '≥65', '<65'], columns=['Mean(SD)',  'Min', 'Median (25-75%)', 'Max', 'Total'])
df1['Mean(SD)'] = (des['mean'].astype(str) + ' (' + des['std'].astype(str) + ')').values
df1['Min'] = (des['min'].round(0).astype(int)).values
df1['Median (25-75%)'] = (des['50%'].round(0).astype(int).astype(str) + ' (' + des['25%'].round(0).astype(int).astype(str) + '-' + des['75%'].round(0).astype(int).astype(str) + ')').values
df1['Max'] = (des['max'].round(0).astype(int)).values
df1['Total'] = (des['mean'] * 1826).round(0).astype(int).values
df1

cols2 = ['PM10', 'NO2', 'SO2', 't2m']
des = amm[cols2].describe().round(2).T
df2 = pd.DataFrame(index=['PM10', 'NO2', 'SO2', 'Temperature'], columns=['Mean(SD)',  'Min', 'Median (25-75%)', 'Max', 'Total'])
df2['Mean(SD)'] = (des['mean'].astype(str) + ' (' + des['mean'].astype(str) + ')').values
df2['Min'] = (des['min'].round(2).astype(str)).values
df2['Median (25-75%)'] = (des['50%'].round(2).astype(str) + ' (' + des['25%'].round(2).astype(str) + '-' + des['75%'].round(2).astype(str) + ')').values
df2['Max'] = (des['max'].round(2).astype(str)).values
df2['Total'] = ['-', '-', '-', '-']
df2
pd.concat([df1, df2])

                  Mean(SD)    Min      Median (25-75%)     Max  Total
Total         15.84 (4.61)      4           15 (13-19)      34  28924
Male           9.06 (3.28)      1             9 (7-11)      21  16544
Female         6.78 (2.76)      0              7 (5-8)      18  12380
≥65           10.68 (3.65)      1            10 (8-13)      26  19502
<65             5.16 (2.4)      0              5 (3-7)      15   9422
PM10         68.87 (68.87)  12.21  56.28 (42.02-82.45)  416.04      -
NO2          22.66 (22.66)   6.74  21.78 (17.99-26.47)   68.44      -
SO2            8.66 (8.66)   0.64     6.82 (4.7-10.58)   92.72      -
Temperature    18.7 (18.7)   1.64   19.6 (11.94-25.31)    34.2      -

In [70]:
print(f"PM10 violations: {len(amm[amm['PM10']>=120])}")
print(f"NO2 violations: {len(amm[amm['NO2']>=80])}")
print(f"SO2 violations: {len(amm[amm['SO2']>=140])}")

PM10 violations: 177
NO2 violations: 0
SO2 violations: 0

In [68]:
irb['Young'] = irb['Total >30'] - irb['>65']
cols = ['Total >30', 'Total_Male >30', 'Total_Female >30', '>65', 'Young']
des = irb[cols].describe().round(2).T
df1 = pd.DataFrame(index=['Total', 'Male', 'Female', '≥65', '<65'], columns=['Mean(SD)',  'Min', 'Median (25-75%)', 'Max', 'Total'])
df1['Mean(SD)'] = (des['mean'].astype(str) + ' (' + des['std'].astype(str) + ')').values
df1['Min'] = (des['min'].round(0).astype(int)).values
df1['Median (25-75%)'] = (des['50%'].round(0).astype(int).astype(str) + ' (' + des['25%'].round(0).astype(int).astype(str) + '-' + des['75%'].round(0).astype(int).astype(str) + ')').values
df1['Max'] = (des['max'].round(0).astype(int)).values
df1['Total'] = (des['mean'] * 1826).round(0).astype(int).values

cols2 = ['PM10', 'NO2', 'SO2', 't2m']
des = irb[cols2].describe().round(2).T
df2 = pd.DataFrame(index=['PM10', 'NO2', 'SO2', 'Temperature'], columns=['Mean(SD)',  'Min', 'Median (25-75%)', 'Max', 'Total'])
df2['Mean(SD)'] = (des['mean'].astype(str) + ' (' + des['std'].astype(str) + ')').values
df2['Min'] = (des['min'].round(2).astype(str)).values
df2['Median (25-75%)'] = (des['50%'].round(2).astype(str) + ' (' + des['25%'].round(2).astype(str) + '-' + des['75%'].round(2).astype(str) + ')').values
df2['Max'] = (des['max'].round(2).astype(str)).values
df2['Total'] = ['-', '-', '-', '-']
df2
pd.concat([df1, df2])

                  Mean(SD)   Min      Median (25-75%)    Max Total
Total          4.06 (2.11)     0              4 (3-5)     15  7414
Male           2.25 (1.54)     0              2 (1-3)     11  4108
Female         1.82 (1.35)     0              2 (1-3)      9  3323
≥65            2.66 (1.73)     0              2 (1-4)     13  4857
<65             1.4 (1.17)     0              1 (1-2)      7  2556
PM10         48.97 (24.39)  9.26     41.9 (33.7-57.9)  209.0     -
NO2           18.32 (7.11)  1.61    17.68 (13.2-23.1)  47.05     -
SO2             8.94 (8.0)  0.06     5.85 (3.53-12.7)   54.5     -
Temperature   19.41 (6.81)  3.12  20.23 (13.11-25.76)  34.01     -

In [71]:
print(f"PM10 violations: {len(irb[irb['PM10']>=120])}")
print(f"NO2 violations: {len(irb[irb['NO2']>=80])}")
print(f"SO2 violations: {len(irb[irb['SO2']>=140])}")

PM10 violations: 37
NO2 violations: 0
SO2 violations: 0

In [67]:
zar['Young'] = zar['Total >30'] - zar['>65']
cols = ['Total >30', 'Total_Male >30', 'Total_Female >30', '>65', 'Young']
des = zar[cols].describe().round(2).T
df1 = pd.DataFrame(index=['Total', 'Male', 'Female', '≥65', '<65'], columns=['Mean(SD)',  'Min', 'Median (25-75%)', 'Max', 'Total'])
df1['Mean(SD)'] = (des['mean'].astype(str) + ' (' + des['std'].astype(str) + ')').values
df1['Min'] = (des['min'].round(0).astype(int)).values
df1['Median (25-75%)'] = (des['50%'].round(0).astype(int).astype(str) + ' (' + des['25%'].round(0).astype(int).astype(str) + '-' + des['75%'].round(0).astype(int).astype(str) + ')').values
df1['Max'] = (des['max'].round(0).astype(int)).values
df1['Total'] = (des['mean'] * 1826).round(0).astype(int).values

cols2 = ['PM10', 'NO2', 'SO2', 't2m']
des = zar[cols2].describe().round(2).T
df2 = pd.DataFrame(index=['PM10', 'NO2', 'SO2', 'Temperature'], columns=['Mean(SD)',  'Min', 'Median (25-75%)', 'Max', 'Total'])
df2['Mean(SD)'] = (des['mean'].astype(str) + ' (' + des['std'].astype(str) + ')').values
df2['Min'] = (des['min'].round(2).astype(str)).values
df2['Median (25-75%)'] = (des['50%'].round(2).astype(str) + ' (' + des['25%'].round(2).astype(str) + '-' + des['75%'].round(2).astype(str) + ')').values
df2['Max'] = (des['max'].round(2).astype(str)).values
df2['Total'] = ['-', '-', '-', '-']
df2
pd.concat([df1, df2])

                  Mean(SD)    Min      Median (25-75%)     Max Total
Total           5.33 (2.4)      0              5 (4-7)      16  9733
Male            3.01 (1.8)      0              3 (2-4)      11  5496
Female         2.32 (1.54)      0              2 (1-3)       9  4236
≥65             3.35 (1.9)      0              3 (2-4)      11  6117
<65            1.98 (1.42)      0              2 (1-3)       8  3615
PM10         78.74 (36.93)  10.11   72.55 (51.5-97.85)  348.71     -
NO2           18.51 (7.16)   2.15    16.75 (13.4-21.8)    48.1     -
SO2            8.18 (6.65)   0.21     6.32 (3.61-9.91)   37.85     -
Temperature   20.21 (8.05)   1.49  21.06 (12.72-27.31)   36.77     -

In [72]:
print(f"PM10 violations: {len(zar[zar['PM10']>=120])}")
print(f"NO2 violations: {len(zar[zar['NO2']>=80])}")
print(f"SO2 violations: {len(zar[zar['SO2']>=140])}")

PM10 violations: 219
NO2 violations: 0
SO2 violations: 0