In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
data = pd.read_excel('وفيات_الاردنيين_2000_2023.xlsx')

In [3]:
data

,تاريخ الوفاة,تاريخ الولادة,محافظة الوفاة,اللواء,الجنس,دولة الاقامة,محافظة الاقامة,اللواء.1
0,2000-01-01,1943-01-01 00:00:00,اربد,قصبة اربد,ذكر,الاردن,اربد,الاغوار الشماليه
1,2000-01-01,1999-08-23 00:00:00,الكرك,الاغوار الجنوبيه,انثى,الاردن,البلقاء,الشونه الجنوبيه
2,2000-01-01,1930-01-01 00:00:00,اربد,الرمثا,انثى,الاردن,اربد,الرمثا
3,2000-01-01,1922-01-01 00:00:00,العاصمه,عمان,ذكر,الاردن,العاصمه,قصبة عمان
4,2000-01-01,1908-01-01 00:00:00,معان,قصبة معان,انثى,الاردن,معان,قصبة معان
...,...,...,...,...,...,...,...,...
515652,2023-12-31,1963-09-22 00:00:00,العاصمه,عمان,ذكر,الاردن,العاصمه,قصبة عمان
515653,2023-12-31,1951-10-12 00:00:00,اربد,الكوره,ذكر,الاردن,اربد,الكوره
515654,2023-12-31,1949-06-01 00:00:00,الكرك,قصبة الكرك,ذكر,الاردن,الكرك,قصبة الكرك
515655,2023-12-31,1966-05-02 00:00:00,العاصمه,عمان,انثى,الاردن,العاصمه,قصبة عمان
515656,2023-12-31,1948-01-01 00:00:00,العاصمه,عمان,انثى,الاردن,العاصمه,قصبة عمان

In [4]:
data.columns

Index(['تاريخ الوفاة', 'تاريخ الولادة', 'محافظة الوفاة', 'اللواء', 'الجنس',
       'دولة الاقامة', 'محافظة الاقامة', 'اللواء.1'],
      dtype='object')

In [5]:
district_translation = {
    "الاغوار الشماليه": "Northern Jordan Valley",
    "الشونه الجنوبيه": "Southern Shouneh",
    "الرمثا": "Ramtha",
    "قصبة عمان": "Qasabat Amman",
    "قصبة معان": "Qasabat Ma'an",
    "سحاب": "Sahab",
    "الباديه الشماليه": "Northern Badia",
    "بني عبيد": "Bani Ubayd",
    "القصر": "Al-Qasr",
    "عمان": "Amman",
    "باديه شماليه غربيه": "Northwest Badia",
    "قصبة السلط": "Qasabat Salt",
    "الجامعه": "Al-Jami'a",
    "مؤاب": "Mu'abb",
    "قصبة الزرقاء": "Qasabat Zarqa",
    "القويسمه": "Al-Quwaysimah",
    "قصبه عجلون": "Qasabat Ajloun",
    "قصبة اربد": "Qasabat Irbid",
    "ماركا": "Marka",
    "عين الباشا": "Ain Al-Basha",
    "فقوع": "Faqou'",
    "قصبه جرش": "Qasabat Jerash",
    "الجيزه": "Al-Jeezah",
    "قصبة مادبا": "Qasabat Madaba",
    "وادي السير": "Wadi Al-Seer",
    "قصبة المفرق": "Qasabat Mafraq",
    "القطرانه": "Al-Qatraneh",
    "المعراض": "Al-Mi'rad",
    "قصبة العقبه": "Qasabat Aqaba",
    "ذيبان": "Dhiban",
    "بني كنانه": "Bani Kinana",
    "الرصيفه": "Russeifa",
    "البتراء": "Petra",
    "ناعور": "Naour",
    "دير علا": "Deir Alla",
    "قصبة الكرك": "Qasabat Karak",
    "الاغوار الجنوبيه": "Southern Jordan Valley",
    "الوسطيه": "Al-Wasatiyah",
    "بصيرا": "Busayra",
    "الطيبه": "Al-Taybeh",
    "المزار الجنوبي": "Al-Mazar Al-Janoubi",
    "الكوره": "Al-Koura",
    "الهاشميه": "Al-Hashimiyah",
    "الشوبك": "Al-Shoubak",
    "غرب اربد": "West Irbid",
    "المزار الشمالي": "Al-Mazar Al-Shamali",
    "نابلس": "Nablus",
    "القويره": "Al-Quweira",
    "قصبة الطفيله": "Qasabat Tafilah",
    "ماحص والفحيص": "Mahis and Fuheis",
    "الرويشد": "Ruweished",
    "الموقر": "Al-Muwaqqar",
    "بلعما": "Bal'ama",
    "كفرنجه": "Kufranjah",
    "الحسينيه": "Al-Husseiniya",
    "عي": "Ai",
    "الحسا": "Al-Hasa",
    "جنين": "Jenin",
    "طولكرم": "Tulkarm",
    "القدس": "Jerusalem",
    "رام الله": "Ramallah",
    "قلقيليه": "Qalqilya",
    "الخليل": "Hebron",
    "بيت لحم": "Bethlehem",
    "بئر السبع": "Beersheba",
    "فلسطين 48": "Palestine 1948",
    "اريحا": "Jericho",
    "غزه": "Gaza"
}

In [6]:
def translate_district(value):
    if pd.isna(value):
        return value
    for ar, en in district_translation.items():
        if ar in value:
            return en
    return value  # if no match, keep original

In [7]:
governorate_translation = {
    "اربد": "Irbid",
    "الكرك": "Karak",
    "العاصمه": "Amman",
    "معان": "Ma'an",
    "المفرق": "Mafraq",
    "البلقاء": "Balqa",
    "الزرقاء": "Zarqa",
    "عجلون": "Ajloun",
    "العقبه": "Aqaba",
    "جرش": "Jerash",
    "مادبا": "Madaba",
    "الطفيله": "Tafilah",
    "فلسطين 48": "Palestine 1948",
    "نابلس": "Nablus",
    "غزه": "Gaza"
}

In [8]:
def translate_govs(value):
    if pd.isna(value):
        return value
    for ar, en in governorate_translation.items():
        if ar in value:
            return en
    return value  # if no match, keep original

In [9]:
data['محافظة الوفاة'].unique()

array(['اربد', 'الكرك', 'العاصمه', 'معان', 'المفرق', 'البلقاء', 'الزرقاء',
       'عجلون', 'العقبه', 'جرش', 'مادبا', 'الطفيله', 'فلسطين 48', 'نابلس',
       'غزه'], dtype=object)

In [10]:
country_translation = {
    "الاردن": "Jordan",
    "العراق": "Iraq",
    "فلسطين": "Palestine",
    "الامارات": "United Arab Emirates",
    "سوريا": "Syria",
    "الكويت": "Kuwait",
    "السعودية": "Saudi Arabia",
    "ليبيا": "Libya",
    "قطر": "Qatar",
    "تونس": "Tunisia",
    "مصر": "Egypt",
    "اليمن": "Yemen",
    "المانيا": "Germany",
    "امريكا": "United States",
    "استراليا": "Australia",
    "لبنان": "Lebanon",
    "سلطنة عمان": "Oman",
    "رومانيا": "Romania",
    "فلسطين 48": "Palestine 1948",
    "بريطانيا": "United Kingdom",
    "الجزائر": "Algeria",
    "قبرص": "Cyprus",
    "الاتحاد السوفيتي": "Soviet Union",
    "النمسا": "Austria",
    "اسبانيا": "Spain",
    "المغرب": "Morocco",
    "فنزويلا": "Venezuela",
    "كولومبيا": "Colombia",
    "البرازيل": "Brazil",
    "غواتيمالا": "Guatemala",
    "كندا": "Canada",
    "ايطاليا": "Italy",
    "البحرين": "Bahrain",
    "سلوفاكيا": "Slovakia",
    "هولندا": "Netherlands",
    "المكسيك": "Mexico",
    "اوكرانيا": "Ukraine",
    "باكستان": "Pakistan",
    "بولندا": "Poland",
    "فرنسا": "France",
    "بلجيكا": "Belgium",
    "موريشوس": "Mauritius",
    "السودان": "Sudan",
    "اوزباكستان": "Uzbekistan",
    "تركيا": "Turkey",
    "الدنمارك": "Denmark",
    "اليونان": "Greece",
    "روسيا": "Russia",
    "السويد": "Sweden",
    "بلغاريا": "Bulgaria",
    "افريقيا الوسطى": "Central African Republic",
    "تشيكوسلوفاكيا": "Czechoslovakia",
    "الهند": "India",
    "باراغواي": "Paraguay",
    "البرتغال": "Portugal",
    "اليابان": "Japan",
    "بنما": "Panama",
    "نيجيريا": "Nigeria",
    "مقدونيا": "North Macedonia"
}

In [11]:
def translate_contr(value):
    if pd.isna(value):
        return value
    for ar, en in country_translation.items():
        if ar in value:
            return en
    return value  # if no match, keep original

In [12]:
sexes = {
    "ذكر": "Male",
    "انثى": "Female"}

In [13]:
def sex_tr(value):
    if pd.isna(value):
        return value
    for ar, en in sexes.items():
        if ar in value:
            return en
    return value  # if no match, keep original

In [14]:
data

,تاريخ الوفاة,تاريخ الولادة,محافظة الوفاة,اللواء,الجنس,دولة الاقامة,محافظة الاقامة,اللواء.1
0,2000-01-01,1943-01-01 00:00:00,اربد,قصبة اربد,ذكر,الاردن,اربد,الاغوار الشماليه
1,2000-01-01,1999-08-23 00:00:00,الكرك,الاغوار الجنوبيه,انثى,الاردن,البلقاء,الشونه الجنوبيه
2,2000-01-01,1930-01-01 00:00:00,اربد,الرمثا,انثى,الاردن,اربد,الرمثا
3,2000-01-01,1922-01-01 00:00:00,العاصمه,عمان,ذكر,الاردن,العاصمه,قصبة عمان
4,2000-01-01,1908-01-01 00:00:00,معان,قصبة معان,انثى,الاردن,معان,قصبة معان
...,...,...,...,...,...,...,...,...
515652,2023-12-31,1963-09-22 00:00:00,العاصمه,عمان,ذكر,الاردن,العاصمه,قصبة عمان
515653,2023-12-31,1951-10-12 00:00:00,اربد,الكوره,ذكر,الاردن,اربد,الكوره
515654,2023-12-31,1949-06-01 00:00:00,الكرك,قصبة الكرك,ذكر,الاردن,الكرك,قصبة الكرك
515655,2023-12-31,1966-05-02 00:00:00,العاصمه,عمان,انثى,الاردن,العاصمه,قصبة عمان
515656,2023-12-31,1948-01-01 00:00:00,العاصمه,عمان,انثى,الاردن,العاصمه,قصبة عمان

In [15]:
data['Date of Death'] = pd.to_datetime(data['تاريخ الوفاة'], errors='coerce')
data['Date of Birth'] = pd.to_datetime(data['تاريخ الولادة'], errors='coerce')

data['Governorate of Residency'] = data['محافظة الاقامة'].apply(translate_govs)
data['Governorate of Death'] = data['محافظة الوفاة'].apply(translate_govs)

data['Country of Residency'] = data['دولة الاقامة'].apply(translate_contr)

data['Sex'] = data['الجنس'].apply(sex_tr)

data['District of Death'] = data['اللواء'].apply(translate_district)
data['District of Residency'] = data['اللواء.1'].apply(translate_district)

In [16]:
data

,تاريخ الوفاة,تاريخ الولادة,محافظة الوفاة,اللواء,الجنس,دولة الاقامة,محافظة الاقامة,اللواء.1,Date of Death,Date of Birth,Governorate of Residency,Governorate of Death,Country of Residency,Sex,District of Death,District of Residency
0,2000-01-01,1943-01-01 00:00:00,اربد,قصبة اربد,ذكر,الاردن,اربد,الاغوار الشماليه,2000-01-01,1943-01-01,Irbid,Irbid,Jordan,Male,Qasabat Irbid,Northern Jordan Valley
1,2000-01-01,1999-08-23 00:00:00,الكرك,الاغوار الجنوبيه,انثى,الاردن,البلقاء,الشونه الجنوبيه,2000-01-01,1999-08-23,Balqa,Karak,Jordan,Female,Southern Jordan Valley,Southern Shouneh
2,2000-01-01,1930-01-01 00:00:00,اربد,الرمثا,انثى,الاردن,اربد,الرمثا,2000-01-01,1930-01-01,Irbid,Irbid,Jordan,Female,Ramtha,Ramtha
3,2000-01-01,1922-01-01 00:00:00,العاصمه,عمان,ذكر,الاردن,العاصمه,قصبة عمان,2000-01-01,1922-01-01,Amman,Amman,Jordan,Male,Amman,Qasabat Amman
4,2000-01-01,1908-01-01 00:00:00,معان,قصبة معان,انثى,الاردن,معان,قصبة معان,2000-01-01,1908-01-01,Ma'an,Ma'an,Jordan,Female,Qasabat Ma'an,Qasabat Ma'an
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515652,2023-12-31,1963-09-22 00:00:00,العاصمه,عمان,ذكر,الاردن,العاصمه,قصبة عمان,2023-12-31,1963-09-22,Amman,Amman,Jordan,Male,Amman,Qasabat Amman
515653,2023-12-31,1951-10-12 00:00:00,اربد,الكوره,ذكر,الاردن,اربد,الكوره,2023-12-31,1951-10-12,Irbid,Irbid,Jordan,Male,Al-Koura,Al-Koura
515654,2023-12-31,1949-06-01 00:00:00,الكرك,قصبة الكرك,ذكر,الاردن,الكرك,قصبة الكرك,2023-12-31,1949-06-01,Karak,Karak,Jordan,Male,Qasabat Karak,Qasabat Karak
515655,2023-12-31,1966-05-02 00:00:00,العاصمه,عمان,انثى,الاردن,العاصمه,قصبة عمان,2023-12-31,1966-05-02,Amman,Amman,Jordan,Female,Amman,Qasabat Amman
515656,2023-12-31,1948-01-01 00:00:00,العاصمه,عمان,انثى,الاردن,العاصمه,قصبة عمان,2023-12-31,1948-01-01,Amman,Amman,Jordan,Female,Amman,Qasabat Amman

In [17]:
eng = ['Date of Death', 'Date of Birth', 'Governorate of Death', 'District of Death', 'Sex', 
       'Country of Residency',
       'Governorate of Residency',       
       'District of Residency']

In [18]:
data[eng]

,Date of Death,Date of Birth,Governorate of Death,District of Death,Sex,Country of Residency,Governorate of Residency,District of Residency
0,2000-01-01,1943-01-01,Irbid,Qasabat Irbid,Male,Jordan,Irbid,Northern Jordan Valley
1,2000-01-01,1999-08-23,Karak,Southern Jordan Valley,Female,Jordan,Balqa,Southern Shouneh
2,2000-01-01,1930-01-01,Irbid,Ramtha,Female,Jordan,Irbid,Ramtha
3,2000-01-01,1922-01-01,Amman,Amman,Male,Jordan,Amman,Qasabat Amman
4,2000-01-01,1908-01-01,Ma'an,Qasabat Ma'an,Female,Jordan,Ma'an,Qasabat Ma'an
...,...,...,...,...,...,...,...,...
515652,2023-12-31,1963-09-22,Amman,Amman,Male,Jordan,Amman,Qasabat Amman
515653,2023-12-31,1951-10-12,Irbid,Al-Koura,Male,Jordan,Irbid,Al-Koura
515654,2023-12-31,1949-06-01,Karak,Qasabat Karak,Male,Jordan,Karak,Qasabat Karak
515655,2023-12-31,1966-05-02,Amman,Amman,Female,Jordan,Amman,Qasabat Amman
515656,2023-12-31,1948-01-01,Amman,Amman,Female,Jordan,Amman,Qasabat Amman

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515657 entries, 0 to 515656
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   تاريخ الوفاة              515657 non-null  datetime64[ns]
 1   تاريخ الولادة             515649 non-null  object
 2   محافظة الوفاة             515657 non-null  object
 3   اللواء                    515657 non-null  object
 4   الجنس                     515648 non-null  object
 5   دولة الاقامة              515656 non-null  object
 6   محافظة الاقامة            511282 non-null  object
 7   اللواء.1                  511282 non-null  object
 8   Date of Death             515657 non-null  datetime64[ns]
 9   Date of Birth             515649 non-null  datetime64[ns]
 10  Governorate of Residency  511282 non-null  object
 11  Governorate of Death      515657 non-null  object
 12  Country of Residency      515656 non-null  object
 13  Sex                       515648 non-null  object
 14  District of Death         515657 non-null  object
 15  District of Residency     511282 non-null  object
dtypes: datetime64[ns](3), object(13)
memory usage: 62.9+ MB

In [140]:
data[eng].to_excel('translated_mortality_data.xlsx', index=False)

In [20]:
data['تاريخ الولادة'] = data['تاريخ الولادة'].astype('datetime64[ns]')
data['تاريخ الوفاة'] = data['تاريخ الوفاة'].astype('datetime64[ns]')

In [22]:
data['Age'] = np.round((data['تاريخ الوفاة'] - data['تاريخ الولادة']).dt.days / 365.25, 2)

In [23]:
data['Total >30'] = 0
data.loc[(data['Age'] >= 30), 'Total >30'] = 1
data['Total_Male >30'] = 0
data.loc[(data['Age'] >= 30) & (data['الجنس'] == 'ذكر'), 'Total_Male >30'] = 1
data['Total_Female >30'] = 0
data.loc[(data['Age'] >= 30) & (data['الجنس'] == 'انثى'), 'Total_Female >30'] = 1
data['>65'] = 0
data.loc[(data['Age'] >= 65), '>65'] = 1
data['>65_Male'] = 0
data.loc[(data['Age'] >= 65) & (data['الجنس'] == 'ذكر'), '>65_Male'] = 1
data['>65_Female'] = 0
data.loc[(data['Age'] >= 65) & (data['الجنس'] == 'انثى'), '>65_Female'] = 1

In [24]:
data['Premature'] = 0

In [25]:
data.loc[(data['Age'] < 77.81) & (data['Age'] > 30), 'Premature'] = 1

In [26]:
data['Premature_Male'] = 0
data.loc[(data['Premature'] == 1) & (data['الجنس'] == 'ذكر'), 'Premature_Male'] = 1

In [27]:
data['Premature_Female'] = 0
data.loc[(data['Premature'] == 1) & (data['الجنس'] == 'انثى'), 'Premature_Female'] = 1

In [28]:
data['YLL'] = 0
data.loc[data['Premature'] == 1, 'YLL'] = 77.81 - data['Age']
data['YLL_Male'] = 0
data.loc[(data['Premature'] == 1) & (data['الجنس'] == 'ذكر'), 'YLL_Male'] = 77.81 - data['Age']
data['YLL_Female'] = 0
data.loc[(data['Premature'] == 1) & (data['الجنس'] == 'انثى'), 'YLL_Female'] = 77.81 - data['Age']

In [29]:
data['Total'] = 1
data['Total_Male'] = 0
data.loc[data['الجنس'] == 'ذكر', 'Total_Male'] = 1
data['Total_Female'] = 0
data.loc[data['الجنس'] == 'انثى', 'Total_Female'] = 1

In [30]:
data.columns

Index(['تاريخ الوفاة', 'تاريخ الولادة', 'محافظة الوفاة', 'اللواء', 'الجنس',
       'دولة الاقامة', 'محافظة الاقامة', 'اللواء.1', 'Date of Death',
       'Date of Birth', 'Governorate of Residency', 'Governorate of Death',
       'Country of Residency', 'Sex', 'District of Death',
       'District of Residency', 'Total >30', 'Age', 'Total_Male >30',
       'Total_Female >30', '>65', '>65_Male', '>65_Female', 'Premature',
       'Premature_Male', 'Premature_Female', 'YLL', 'YLL_Male', 'YLL_Female',
       'Total', 'Total_Male', 'Total_Female'],
      dtype='object')

In [44]:
grouped_data = data.groupby(['تاريخ الوفاة', 'دولة الاقامة', 'محافظة الاقامة', 'اللواء.1'])['Total >30', 'Total_Male >30',
       'Total_Female >30', '>65', '>65_Male', '>65_Female', 'Premature',
       'Premature_Male', 'Premature_Female', 'YLL', 'YLL_Male', 'YLL_Female',
       'Total', 'Total_Male', 'Total_Female'].sum().reset_index()

C:\Users\user\AppData\Local\Temp\ipykernel_15384\4126678291.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = data.groupby(['تاريخ الوفاة', 'دولة الاقامة', 'محافظة الاقامة', 'اللواء.1'])['Total >30', 'Total_Male >30',

In [45]:
grouped_data

,تاريخ الوفاة,دولة الاقامة,محافظة الاقامة,اللواء.1,Total >30,Total_Male >30,Total_Female >30,>65,>65_Male,>65_Female,Premature,Premature_Male,Premature_Female,YLL,YLL_Male,YLL_Female,Total,Total_Male,Total_Female
0,2000-01-01,الاردن,اربد,الاغوار الشماليه,1,1,0,0,0,0,1,1,0,20.81,20.81,0.00,3,3,0
1,2000-01-01,الاردن,اربد,الرمثا,2,1,1,2,1,1,2,1,1,15.62,7.81,7.81,3,1,2
2,2000-01-01,الاردن,اربد,بني عبيد,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,1,0,1
3,2000-01-01,الاردن,اربد,بني كنانه,1,1,0,1,1,0,0,0,0,0.00,0.00,0.00,1,1,0
4,2000-01-01,الاردن,اربد,قصبة اربد,3,1,2,3,1,2,2,1,1,14.62,2.81,11.81,4,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226249,2023-12-31,الاردن,جرش,قصبه جرش,2,0,2,1,0,1,1,0,1,23.59,0.00,23.59,2,0,2
226250,2023-12-31,الاردن,عجلون,قصبه عجلون,1,0,1,0,0,0,1,0,1,18.65,0.00,18.65,2,1,1
226251,2023-12-31,الاردن,عجلون,كفرنجه,1,0,1,1,0,1,1,0,1,10.81,0.00,10.81,1,0,1
226252,2023-12-31,الاردن,مادبا,ذيبان,2,1,1,2,1,1,1,0,1,9.81,0.00,9.81,2,1,1
226253,2023-12-31,الاردن,مادبا,قصبة مادبا,1,0,1,0,0,0,1,0,1,32.53,0.00,32.53,1,0,1

In [46]:
grouped_data['اللواء.1'].unique()

array(['الاغوار الشماليه    ', 'الرمثا              ',
       'بني عبيد            ', 'بني كنانه           ',
       'قصبة اربد           ', 'الشونه الجنوبيه     ',
       'دير علا             ', 'عين الباشا          ',
       'قصبة السلط          ', 'الرصيفه             ',
       'قصبة الزرقاء        ', 'الجامعه             ',
       'الجيزه              ', 'القويسمه            ',
       'سحاب                ', 'عمان                ',
       'قصبة عمان           ', 'ماركا               ',
       'ناعور               ', 'وادي السير          ',
       'قصبة العقبه         ', 'القصر               ',
       'القطرانه            ', 'فقوع                ',
       'مؤاب                ', 'الباديه الشماليه    ',
       'باديه شماليه غربيه  ', 'قصبة المفرق         ',
       'المعراض             ', 'قصبه جرش            ',
       'قصبه عجلون          ', 'ذيبان               ',
       'قصبة مادبا          ', 'البتراء             ',
       'قصبة معان           ', 'الطيبه              ',
       'الوسطيه             ', 'بصيرا               ',
       'الاغوار الجنوبيه    ', 'قصبة الكرك          ',
       'الكوره              ', 'الهاشميه            ',
       'المزار الجنوبي      ', 'الشوبك              ',
       'غرب اربد            ', 'المزار الشمالي      ',
       'نابلس               ', 'قصبة الطفيله        ',
       'القويره             ', 'ماحص والفحيص        ',
       'الرويشد             ', 'الموقر              ',
       'بلعما               ', 'كفرنجه              ',
       'الحسينيه            ', 'عي                  ',
       'الحسا               ', 'جنين                ',
       'طولكرم              ', 'القدس               ',
       'رام الله            ', 'قلقيليه             ',
       'الخليل              ', 'بيت لحم             ',
       'بئر السبع           ', 'فلسطين 48           ',
       'اريحا               ', 'غزه                 '], dtype=object)

In [47]:
grouped_data[grouped_data['محافظة الاقامة'] == 'العاصمه']['اللواء.1'].unique()

array(['الجامعه             ', 'الجيزه              ',
       'القويسمه            ', 'سحاب                ',
       'عمان                ', 'قصبة عمان           ',
       'ماركا               ', 'ناعور               ',
       'وادي السير          ', 'الموقر              '], dtype=object)

In [48]:
amman = grouped_data[(grouped_data['اللواء.1'] == 'قصبة عمان           ')|(grouped_data['اللواء.1'] ==        'عمان                ') | (grouped_data['اللواء.1'] == 'الجامعه             ') | (grouped_data['اللواء.1'] == 'ماركا               ')]

In [49]:
amman = amman.groupby(['محافظة الاقامة', 'تاريخ الوفاة'])['Total >30', 'Total_Male >30',
       'Total_Female >30', '>65', '>65_Male', '>65_Female', 'Premature',
       'Premature_Male', 'Premature_Female', 'YLL', 'YLL_Male', 'YLL_Female',
       'Total', 'Total_Male', 'Total_Female'].sum().reset_index()

C:\Users\user\AppData\Local\Temp\ipykernel_15384\1738251117.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  amman = amman.groupby(['محافظة الاقامة', 'تاريخ الوفاة'])['Total >30', 'Total_Male >30',

In [50]:
amman.drop(columns=['محافظة الاقامة'], inplace=True)

In [51]:
amman[['YLL', 'YLL_Male', 'YLL_Female']] = amman[['YLL', 'YLL_Male', 'YLL_Female']].round(2)

In [52]:
amman

,تاريخ الوفاة,Total >30,Total_Male >30,Total_Female >30,>65,>65_Male,>65_Female,Premature,Premature_Male,Premature_Female,YLL,YLL_Male,YLL_Female,Total,Total_Male,Total_Female
0,2000-01-01,13,6,7,9,4,5,8,4,4,136.08,72.24,63.84,15,7,8
1,2000-01-02,11,7,4,6,4,2,8,4,4,125.49,76.25,49.24,14,9,5
2,2000-01-03,10,4,6,5,2,3,7,3,4,131.62,49.42,82.20,11,5,6
3,2000-01-04,14,7,7,11,5,6,9,5,4,137.68,83.48,54.20,15,7,8
4,2000-01-05,8,5,3,6,4,2,8,5,3,101.33,78.93,22.40,9,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8761,2023-12-27,16,9,7,11,5,6,12,6,6,145.84,95.32,50.52,16,9,7
8762,2023-12-28,16,13,3,10,9,1,10,7,3,132.52,93.38,39.14,17,14,3
8763,2023-12-29,22,13,9,16,8,8,16,10,6,186.65,121.39,65.26,22,13,9
8764,2023-12-30,15,7,8,8,3,5,12,6,6,172.83,107.18,65.65,17,9,8
8765,2023-12-31,25,15,10,18,9,9,16,10,6,185.89,143.66,42.23,25,15,10

In [53]:
irbid = grouped_data[grouped_data['اللواء.1'] ==        'قصبة اربد           ']

In [54]:
irbid.drop(columns=['محافظة الاقامة', 'اللواء.1', 'دولة الاقامة'], inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_15384\26836430.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  irbid.drop(columns=['محافظة الاقامة', 'اللواء.1', 'دولة الاقامة'], inplace=True)

In [55]:
irbid

,تاريخ الوفاة,Total >30,Total_Male >30,Total_Female >30,>65,>65_Male,>65_Female,Premature,Premature_Male,Premature_Female,YLL,YLL_Male,YLL_Female,Total,Total_Male,Total_Female
4,2000-01-01,3,1,2,3,1,2,2,1,1,14.62,2.81,11.81,4,1,3
39,2000-01-02,4,1,3,3,1,2,2,0,2,34.62,0.00,34.62,4,1,3
64,2000-01-03,3,2,1,3,2,1,3,2,1,23.42,21.62,1.80,3,2,1
86,2000-01-04,3,2,1,3,2,1,0,0,0,0.00,0.00,0.00,4,3,1
111,2000-01-05,1,0,1,1,0,1,1,0,1,7.80,0.00,7.80,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226111,2023-12-27,6,4,2,4,2,2,3,3,0,74.85,74.85,0.00,6,4,2
226141,2023-12-28,7,6,1,3,2,1,6,5,1,121.30,119.48,1.82,8,7,1
226174,2023-12-29,7,4,3,2,1,1,6,4,2,120.97,78.00,42.97,8,5,3
226205,2023-12-30,6,4,2,4,2,2,2,2,0,41.76,41.76,0.00,6,4,2
226229,2023-12-31,4,1,3,4,1,3,1,1,0,5.96,5.96,0.00,4,1,3

In [56]:
irbid[['YLL', 'YLL_Male', 'YLL_Female']] = irbid[['YLL', 'YLL_Male', 'YLL_Female']].round(2)

C:\Users\user\AppData\Local\Temp\ipykernel_15384\1922695087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  irbid[['YLL', 'YLL_Male', 'YLL_Female']] = irbid[['YLL', 'YLL_Male', 'YLL_Female']].round(2)

In [57]:
irbid

,تاريخ الوفاة,Total >30,Total_Male >30,Total_Female >30,>65,>65_Male,>65_Female,Premature,Premature_Male,Premature_Female,YLL,YLL_Male,YLL_Female,Total,Total_Male,Total_Female
4,2000-01-01,3,1,2,3,1,2,2,1,1,14.62,2.81,11.81,4,1,3
39,2000-01-02,4,1,3,3,1,2,2,0,2,34.62,0.00,34.62,4,1,3
64,2000-01-03,3,2,1,3,2,1,3,2,1,23.42,21.62,1.80,3,2,1
86,2000-01-04,3,2,1,3,2,1,0,0,0,0.00,0.00,0.00,4,3,1
111,2000-01-05,1,0,1,1,0,1,1,0,1,7.80,0.00,7.80,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226111,2023-12-27,6,4,2,4,2,2,3,3,0,74.85,74.85,0.00,6,4,2
226141,2023-12-28,7,6,1,3,2,1,6,5,1,121.30,119.48,1.82,8,7,1
226174,2023-12-29,7,4,3,2,1,1,6,4,2,120.97,78.00,42.97,8,5,3
226205,2023-12-30,6,4,2,4,2,2,2,2,0,41.76,41.76,0.00,6,4,2
226229,2023-12-31,4,1,3,4,1,3,1,1,0,5.96,5.96,0.00,4,1,3

In [58]:
grouped_data[grouped_data['محافظة الاقامة'] == 'الزرقاء']['اللواء.1'].unique()

array(['الرصيفه             ', 'قصبة الزرقاء        ',
       'الهاشميه            '], dtype=object)

In [59]:
zarqa = grouped_data[grouped_data['اللواء.1'] == 'قصبة الزرقاء        ']

In [60]:
zarqa.drop(columns=['محافظة الاقامة', 'اللواء.1', 'دولة الاقامة'], inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_15384\3147513414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zarqa.drop(columns=['محافظة الاقامة', 'اللواء.1', 'دولة الاقامة'], inplace=True)

In [61]:
zarqa[['YLL', 'YLL_Male', 'YLL_Female']] = zarqa[['YLL', 'YLL_Male', 'YLL_Female']].round(2)

C:\Users\user\AppData\Local\Temp\ipykernel_15384\907213064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zarqa[['YLL', 'YLL_Male', 'YLL_Female']] = zarqa[['YLL', 'YLL_Male', 'YLL_Female']].round(2)

In [62]:
zarqa

,تاريخ الوفاة,Total >30,Total_Male >30,Total_Female >30,>65,>65_Male,>65_Female,Premature,Premature_Male,Premature_Female,YLL,YLL_Male,YLL_Female,Total,Total_Male,Total_Female
10,2000-01-01,7,2,5,4,1,3,6,2,4,117.43,34.69,82.74,12,4,8
43,2000-01-02,7,5,2,6,4,2,5,4,1,54.05,43.24,10.81,8,6,2
69,2000-01-03,4,2,2,1,1,0,3,1,2,101.78,20.81,80.97,6,4,2
91,2000-01-04,9,7,2,3,2,1,9,7,2,146.20,114.60,31.60,11,8,3
116,2000-01-05,1,1,0,1,1,0,1,1,0,7.80,7.80,0.00,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226118,2023-12-27,8,5,3,5,2,3,6,4,2,109.73,94.16,15.57,8,5,3
226148,2023-12-28,7,6,1,6,5,1,6,5,1,61.43,51.63,9.80,8,7,1
226179,2023-12-29,6,2,4,6,2,4,4,2,2,21.68,11.45,10.23,7,2,5
226210,2023-12-30,10,5,5,7,3,4,6,4,2,91.75,65.77,25.98,10,5,5
226235,2023-12-31,3,2,1,3,2,1,1,0,1,3.81,0.00,3.81,3,2,1

In [63]:
amman.to_excel('./districts/Amman.xlsx', index=False)
irbid.to_excel('./districts/Irbid.xlsx', index=False)
zarqa.to_excel('./districts/Zarqa.xlsx', index=False)