In [2]:
import numpy as np
import pandas as pd
import os

In [8]:
folder = './Total/'
files = sorted(os.listdir(folder))

In [9]:
tot = [pd.read_excel(folder + file) for file in files]

In [15]:
((tot[0]['Lag']).values)

array([ 0,  1,  2,  3,  4,  5,  6,  1, 25,  5], dtype=int64)

In [16]:
lag = ['0', '1', '2', '3', '4', '5', '6', '01', '25', '05']

In [17]:
for i in range(len(tot)):
    tot[i]['Lag'] = lag
    tot[i].set_index('Lag', inplace=True)

In [18]:
tot[0]

,beta,se,P_val,RR,inf,sup,IR10,inf10,sup10,significance
Lag,,,,,,,,,,
0,0.000273,0.000158,0.084015,1.002735,0.999635,1.005845,0.273501,-0.036514,0.584477,NaN
1,0.000473,0.000156,0.002444,1.004744,1.001677,1.007819,0.474355,0.167714,0.781934,**
2,0.000178,0.000155,0.251655,1.001780,0.998739,1.004831,0.178030,-0.126072,0.483059,NaN
3,0.000227,0.000155,0.141469,1.002276,0.999244,1.005317,0.227632,-0.075555,0.531740,NaN
4,0.000046,0.000157,0.767370,1.000464,0.997396,1.003541,0.046374,-0.260439,0.354130,NaN
5,0.000201,0.000154,0.192693,1.002015,0.998986,1.005053,0.201506,-0.101414,0.505344,NaN
6,-0.000127,0.000155,0.412014,0.998727,0.995692,1.001771,-0.127319,-0.430783,0.177070,NaN
01,0.000588,0.000186,0.001631,1.005898,1.002230,1.009580,0.589846,0.223026,0.958008,**
25,0.000478,0.000243,0.049482,1.004787,1.000014,1.009582,0.478670,0.001409,0.958208,*
05,0.000975,0.000296,0.001001,1.009802,1.003961,1.015676,0.980175,0.396135,1.567614,**

In [26]:
df = pd.DataFrame(index=lag)
for i in range(len(tot)):
    tot[i].fillna(' ', inplace=True)
    df[files[i]] = tot[i]['IR10'].round(2).astype(str) + ' (' + tot[i]['inf10'].round(2).astype(str) + '-' + tot[i]['sup10'].round(2).astype(str) + ')' + tot[i]['significance']

In [27]:
df

,1Amman_PM10.xlsx,2Amman_NO2.xlsx,3Amman_SO2.xlsx,4Irbid_PM10.xlsx,5Irbid_NO2.xlsx,6Irbid_SO2.xlsx,7Zarqa_PM10.xlsx,8Zarqa_NO2.xlsx,9Zarqa_SO2.xlsx
0,0.27 (-0.04-0.58),0.58 (-1.54-2.74),1.11 (-0.95-3.22),0.0 (-1.05-1.06),3.18 (-1.11-7.65),-0.62 (-5.59-4.6),0.18 (-0.45-0.8),2.83 (-1.57-7.43),2.57 (-3.28-8.79)
1,0.47 (0.17-0.78)**,-0.77 (-2.91-1.42),0.84 (-1.24-2.96),0.06 (-1.0-1.13),2.47 (-1.9-7.03),-0.0 (-5.05-5.31),-0.22 (-0.86-0.42),1.31 (-3.14-5.96),-0.54 (-6.28-5.56)
2,0.18 (-0.13-0.48),-0.45 (-2.58-1.73),-0.48 (-2.56-1.65),-0.3 (-1.36-0.76),-0.61 (-4.85-3.83),-2.38 (-7.39-2.89),-0.09 (-0.72-0.55),-3.61 (-7.8-0.77),-3.26 (-8.95-2.77)
3,0.23 (-0.08-0.53),-0.14 (-2.27-2.04),-0.16 (-2.27-1.98),0.91 (-0.14-1.97),1.9 (-2.45-6.44),0.7 (-4.4-6.07),0.22 (-0.41-0.86),-0.61 (-4.86-3.83),0.1 (-5.84-6.41)
4,0.05 (-0.26-0.35),-1.49 (-3.62-0.68),-1.74 (-3.86-0.44),0.76 (-0.29-1.82),1.35 (-2.99-5.88),2.89 (-2.34-8.4),-0.02 (-0.66-0.62),-2.26 (-6.46-2.12),-0.26 (-6.24-6.1)
5,0.2 (-0.1-0.51),0.45 (-1.75-2.71),0.24 (-1.93-2.45),0.32 (-0.73-1.39),0.5 (-3.88-5.09),4.82 (-0.51-10.43),-0.13 (-0.76-0.51),-1.21 (-5.48-3.25),-0.7 (-6.7-5.68)
6,-0.13 (-0.43-0.18),0.48 (-1.75-2.76),-0.34 (-2.51-1.88),-1.42 (-2.48--0.36)**,-3.11 (-7.42-1.41),3.04 (-2.23-8.6),-0.58 (-1.21-0.06),0.32 (-4.04-4.87),-2.87 (-8.76-3.4)
01,0.59 (0.22-0.96)**,-0.16 (-2.55-2.29),1.15 (-1.18-3.54),0.23 (-1.03-1.51),3.24 (-1.65-8.37),-0.26 (-5.83-5.65),-0.12 (-0.9-0.65),3.0 (-2.14-8.42),1.26 (-5.01-7.94)
25,0.48 (0.0-0.96)*,-0.4 (-3.36-2.66),-0.75 (-3.55-2.14),0.67 (-1.01-2.36),2.19 (-3.78-8.53),3.33 (-3.38-10.52),-0.21 (-1.25-0.84),-4.18 (-10.0-2.01),-1.18 (-8.23-6.41)
05,0.98 (0.4-1.57)**,-0.48 (-3.84-3.01),0.12 (-3.05-3.39),0.95 (-1.08-3.01),4.47 (-2.35-11.76),2.22 (-5.17-10.18),-0.43 (-1.7-0.84),-1.48 (-8.47-6.04),-0.09 (-7.6-8.02)