In [1]:
import pandas as pd
import numpy as np

In [2]:
amm = pd.read_csv('./Multi pollutant models/Amman.csv')
irb = pd.read_csv('./Multi pollutant models/Irbid.csv')
zar = pd.read_csv('./Multi pollutant models/Zarqa.csv')

In [5]:
amm.fillna('', inplace=True)
irb.fillna('', inplace=True)
zar.fillna('', inplace=True)

In [7]:
amm

,Pollutant,co-pollutant,beta,se,P_val,RR,inf,sup,IR10,inf10,sup10,significance
0,Single PM10,,0.000588,0.000186,0.001631,1.005898,1.002230,1.009580,0.589846,0.223026,0.958008,**
1,,NO2,0.000624,0.000194,0.001319,1.006255,1.002440,1.010086,0.625530,0.243959,1.008552,**
2,,SO2,0.001187,0.000328,0.000309,1.011938,1.005448,1.018470,1.193806,0.544811,1.846990,***
3,,NO2+SO2,0.000601,0.000205,0.003362,1.006033,1.002002,1.010079,0.603277,0.200227,1.007949,**
4,Single NO2,,-0.000162,0.001238,0.895975,0.998383,0.974453,1.022900,-0.161727,-2.554684,2.289993,
5,,PM10,-0.001351,0.001286,0.293445,0.986578,0.962025,1.011758,-1.342200,-3.797520,1.175786,
6,,SO2,-0.001606,0.001622,0.322307,0.984070,0.953277,1.015858,-1.592980,-4.672270,1.585778,
7,,PM10+SO2,-0.001685,0.001621,0.298925,0.983294,0.952537,1.015044,-1.670594,-4.746291,1.504415,
8,Single SO2,,0.001147,0.001190,0.335033,1.011539,0.988223,1.035405,1.153912,-1.177692,3.540529,
9,,PM10,-0.000488,0.001309,0.709635,0.995136,0.969924,1.021003,-0.486396,-3.007601,2.100344,
10,,NO2,0.002147,0.001557,0.168049,1.021699,0.990998,1.053351,2.169896,-0.900201,5.335103,
11,,PM10+NO2,0.000556,0.001645,0.735482,1.005575,0.973665,1.038530,0.557476,-2.633482,3.853009,

In [6]:
amm['IR10'].round(2).astype(str) + ' (' + amm['inf10'].round(2).astype(str) + '-' + amm['sup10'].round(2).astype(str) + ')' + amm['significance'].astype(str)

0      0.59 (0.22-0.96)**
1      0.63 (0.24-1.01)**
2     1.19 (0.54-1.85)***
3        0.6 (0.2-1.01)**
4      -0.16 (-2.55-2.29)
5       -1.34 (-3.8-1.18)
6      -1.59 (-4.67-1.59)
7       -1.67 (-4.75-1.5)
8       1.15 (-1.18-3.54)
9       -0.49 (-3.01-2.1)
10       2.17 (-0.9-5.34)
11      0.56 (-2.63-3.85)
dtype: object

In [11]:
table = pd.DataFrame(columns=['Pollutant', 'co-pollutant', 'Amman', 'Irbid', 'Zarqa'])
table['Pollutant'] = amm['Pollutant']
table['co-pollutant'] = '+' + amm['co-pollutant']
table['Amman'] = amm['IR10'].round(2).astype(str) + ' (' + amm['inf10'].round(2).astype(str) + '-' + amm['sup10'].round(2).astype(str) + ')' + amm['significance'].astype(str)
table['Irbid'] = irb['IR10'].round(2).astype(str) + ' (' + irb['inf10'].round(2).astype(str) + '-' + irb['sup10'].round(2).astype(str) + ')' + irb['significance'].astype(str)
table['Zarqa'] = zar['IR10'].round(2).astype(str) + ' (' + zar['inf10'].round(2).astype(str) + '-' + zar['sup10'].round(2).astype(str) + ')' + zar['significance'].astype(str)

In [12]:
table

,Pollutant,co-pollutant,Amman,Irbid,Zarqa
0,Single PM10,+,0.59 (0.22-0.96)**,0.23 (-1.03-1.51),-0.12 (-0.9-0.65)
1,,+NO2,0.63 (0.24-1.01)**,-0.01 (-1.33-1.33),-0.2 (-1.03-0.62)
2,,+SO2,1.19 (0.54-1.85)***,1.19 (-0.99-3.42),-0.43 (-1.75-0.92)
3,,+NO2+SO2,0.6 (0.2-1.01)**,0.08 (-1.3-1.48),-0.17 (-1.02-0.69)
4,Single NO2,+,-0.16 (-2.55-2.29),3.24 (-1.65-8.37),3.0 (-2.14-8.42)
5,,+PM10,-1.34 (-3.8-1.18),3.31 (-1.87-8.76),1.91 (-3.73-7.89)
6,,+SO2,-1.59 (-4.67-1.59),1.3 (-4.23-7.14),3.44 (-2.64-9.9)
7,,+PM10+SO2,-1.67 (-4.75-1.5),1.26 (-4.46-7.33),2.43 (-3.93-9.21)
8,Single SO2,+,1.15 (-1.18-3.54),-0.26 (-5.83-5.65),1.26 (-5.01-7.94)
9,,+PM10,-0.49 (-3.01-2.1),-0.79 (-6.58-5.36),-0.02 (-7.0-7.48)
10,,+NO2,2.17 (-0.9-5.34),-0.83 (-6.86-5.6),-0.99 (-8.19-6.77)
11,,+PM10+NO2,0.56 (-2.63-3.85),-1.26 (-7.39-5.28),-1.4 (-9.1-6.95)